<div id="contactListContainer" style="text-align:center">
  <h2 style="color: white">Contacts:</h2>
  <form>
    <input id="addContactInput" placeholder="Add a new contact" [(ngModel)]="contactName" name="contact">
    <button id="addContactButton" (click)="addContact(this.contactName)">Add</button>
  </form>
  <button id="undoButton" style="margin-top: 10px" (click)="undo()">Undo</button> 
  <button id="redoButton" style="margin-top: 10px" (click)="redo()">Redo</button>
  <div id="contactList">
    <app-contact class="contact"
      *ngFor="let contact of contacts; let i=index" [i]="i" 
      [contact]="contact" 
      [contacts]="contacts" 
      (delete)="deleteContact($event)">  
    </app-contact>
    </div>
</div>